#navbar{
    opacity: 0.8;

}
#portadaHeader{
    background-image: url(imgs/singer2.png);
    
    
}
#containderTextPortada{
    opacity: 0.9;
}

#viajemusical{
    color: rgb(249, 76, 188) ;
}
#albumes-Eras{
    background-image: url(imgs/portada2ts.jpg);
}
.foto_album{
    height: 200px;
}

#goldencircle{
    position: relative;
    bottom: -15px;
    left: -17px;
    right: -20px;
}
.newsimgs{
    height:  300px;
    object-fit: cover;
}
#reviewSection{
    background-color: rgb(135, 31, 98) ;
}
.logoBarTs{
    width: 200px;
}
#suscripcionLetter{
    background-color: rgb(135, 31, 98) ;
}
.igTs{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#btnfollow{
    background-color:  rgb(135, 31, 98);
    color: white;
    border: black 2px solid;
}
#logoDespedida{
    height: 50px;
    width: 150px;
}
